<div *ngIf="messageService.messages.length">
  <h2>Messages</h2>
  <button type="button" class="clear" (click)="messageService.clear()">
    Clear messages
  </button>
  <div *ngFor="let messages of messageService.messages">{{ messages }}</div>
</div>
